body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: rgb(41, 41, 41);
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #5C81D9;
}

.portada {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: black;
}

.portada .portafolio {
    width: 40%;
}

.portada .portafolio h2 {
    text-align: center;
    text-transform: uppercase;
}

.portada .portafolio .presentacion {
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    transform: translate(200px, 300px);
}

.portada .portafolio .presentacion .hola-soy {
    margin: 0;
    font-size: 3rem;
}
.portada .portafolio .presentacion h1 {
    padding: 8px 20px;
    width: fit-content;
    margin: 0;
    background-color: rgb(82, 82, 82);
    font-size: 3rem;
}

.portada .portafolio .presentacion .resaltado {
    margin: 0;
    padding: 8px 20px;
    font-size: 2rem;
    font-weight: 600;
    color: black;
    background-color: yellow;
    width: fit-content;
}

.portada .photo-container {
    width: 60%;
    background-color: rgb(82, 82, 82);
}

.portada .photo-container .nav {
    display: flex;
    justify-content: center;
}

.portada .photo-container .nav li {
    margin: 0 12px;
    list-style: none;
    font-weight: 600;
    text-transform: uppercase;
}

.portada .photo-container .my-photo {
    width: 100%;
    transform: translateY(3px);
}

.proyectos-container {
    margin: 0 auto;
    width: 80%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(49, 49, 49);
}

.proyecto-container {
    padding: 8px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}

.proyecto-container .button {
    padding: 8px;
    color: black;
    background-color: white;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.proyecto-container .button:hover {
    color: white;
    background-color: #5C81D9;
}

@media screen and (min-width: 800px){
    .proyectos-container {
        max-width: 600px;
    }
}